:root {
    --theme1-bg: #000;
    --theme1-bg90: #1a3da6E6;
    --theme2-bg: #8000FF;
    --theme2-bg70: #0f2462B3;
    --theme2-bg85: #9430FF;
    --primary-color: #fff;
    --secondary-color: #fff;
}
